/* --- ZONA DE IMPORTAÇÃO (NÃO MEXA NA ORDEM OU TUDO EXPLODE) --- */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Hind:200,300,400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:200,300,400,700,800');
@import url('//icons.cappuccicons.com/cpf.css');
@import url('https://dl.dropbox.com/s/3vono8lj48a6cp8/birds.css?dl=0');

/* --- ESTILOS DO TEMPLATE --- */

/* Estilos da Imagem e Estrutura */
.amn-img::before {
    display: none;
}

.amn-img::after {
    height: 100%;
}

.amn-img {
    height: 230px;
}

.amn-body {
    --color: #8D2E2E;
    width: 600px;
}

/* Tipografia e Layout */
.amn-quote {
    margin: -2px 0px -30px 0px;
    height: 60px;
}

.amn-title {
    font: 47px 'Abril Fatface';
    margin-top: -45px;
    text-transform: uppercase;
}

.amn-lyric {
    padding: 0px;
    margin-top: -38px;
    width: 485px;
}

.amn-texto {
    padding: 10px;
    font-size: 12px;
}

.amn-quote2 {
    background: #0f0f0f;
    border: transparent solid 5px;
    overflow: hidden;
    color: #aaa;
}
